@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

/* ----- Global Styling ----- */
body {
    border: 1px solid red;
}

/* ----- Utility Classes ----- */
button {}

button:hover {
    cursor: pointer;
}

/* ----- Header Styling ----- */
header {
    padding: 0px 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 2rem;
    font-family: "Barrio", system-ui;

    display: flex;
    align-items: center;
}

nav button {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: none;
    border: none;
}

/* ----- Content Base ----- */
#content {
    min-height: calc(100vh - 100px);
    padding: 2rem;
}

/* ----- Page Styles ----- */
.page-home {}

.page-menu {}

.page-about {}